workflow:
  rules:
    - if: $CI_MERGE_REQUEST_IID

stages:
  - build on codemagic

build:
  image: dart:latest
  stage: build on codemagic
  rules:
    - if: '$CI_MERGE_REQUEST_EVENT_TYPE == "detached"'
      variables:
        CODEMAGIC_WORKFLOW: "merge-requests"
    - if: '$CI_MERGE_REQUEST_EVENT_TYPE == "merged_result"'
      variables:
        CODEMAGIC_WORKFLOW: "merge-requests"
    - if: '$CI_MERGE_REQUEST_EVENT_TYPE == "merge_train"'
      variables:
        CODEMAGIC_WORKFLOW: "main"
  before_script:
    - dart ./utils/ci/gitlab/remove_build_url.dart
  script:
    - dart ./utils/ci/gitlab/build_via_codemagic.dart