name: vialer
publish_to: none
description: >-
  Mobile app that serves as both a VoIP client
  and a management tool for accounts on the VoIPGRID platform.
version: 7.0.0

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: 3.13.9

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # TODO: Use pub dependency.
  flutter_phone_lib:
    git:
      url: https://github.com/open-voip-alliance/flutter-phone-lib
      ref: 111e074b1cb8bae2751712a9d25f286beede20e5

  # We use our own fork, this is required when using Font Awesome Pro.
  # See: https://pub.dev/packages/font_awesome_flutter#enable-pro-icons
  font_awesome_flutter:
    git:
      url: git@gitlab.wearespindle.com:vialer/mobile/font-awesome.git
      ref: f5ad8977b0cf6a75e9cd38750c322216415e3920

  flutter_bloc: ^7.0.0
  provider: ^6.0.0
  equatable: ^2.0.0
  chopper: ^6.1.1
  shared_preferences: ^2.0.17
  flutter_svg: ^1.0.0
  android_intent: ^2.0.0
  permission_handler: ^10.0.0
  url_launcher: ^6.0.3
  characters: ^1.0.0
  diacritic: ^0.1.1
  scrollable_positioned_list: ^0.3.2
  i18n: ^3.1.0
  intl: ^0.18.0
  flutter_dotenv: ^5.0.2
  sentry_flutter: ^7.9.0
  flutter_segment: ^3.12.1
  device_info: ^2.0.0
  package_info: ^2.0.0
  sqlite3_flutter_libs: ^0.5.15
  path_provider: ^2.0.1
  path: ^1.6.4
  timezone: ^0.8.0
  logging: ^1.0.0
  libphonenumber: ^2.0.0
  get_it: ^7.0.0
  dartx: ^1.0.0
  connectivity_plus: ^2.1.0
  flutter_inappwebview: #version 5.7.2+3 with fix
    git:
      url: https://github.com/vixez/flutter_inappwebview.git
      ref: fix-xcode-17
  json_annotation: ^4.7.0
  flutter_rating_bar: ^4.0.0
  flutter_libphonenumber: ^1.0.3
  styled_text: ^4.0.0+1
  flutter_switch: ^0.3.2
  in_app_review: ^2.0.4
  synchronized: ^3.0.0+3
  duration: ^3.0.6
  flutter_keyboard_visibility: ^5.3.0
  drift: ^2.8.0
  recase: ^4.0.0
  watcher: ^1.0.1
  freezed_annotation: ^2.1.0
  collection: ^1.16.0
  mockito: ^5.3.2
  flutter_platform_widgets: ^3.2.0
  search_highlight_text: ^1.0.0+2
  austerity: 1.1.0
  auto_size_text: ^3.0.0
  flutter_riverpod: ^2.3.6
  riverpod_annotation: ^2.1.1
  flutter_contacts: ^1.1.7+1
  connection_network_type: ^0.0.1
  timer_builder: ^2.0.0
  gap: ^3.0.1

dev_dependencies:
  test: ^1.20.0
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter

  build_runner: ^2.1.2
  chopper_generator: ^6.0.0
  json_serializable: ^6.1.1
  flutter_launcher_icons: ^0.9.0
  pigeon: ^10.0.0
  xml: ^5.3.1
  basic_utils: ^3.9.1
  yaml: ^3.1.0
  yaml_edit: ^2.0.1
  glob: ^2.0.2
  drift_dev: ^2.8.0
  package_config: ^2.1.0
  freezed: ^2.1.0+1
  riverpod_generator: ^2.1.1
  source_gen: ^1.4.0


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - .env
    - assets/background_cloud.svg
    - assets/survey/help.png
    - assets/survey/yay.png

  fonts:
    - family: 'BrandIcons'
      fonts:
        - asset: assets/brand_icons.ttf


  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
