name: vialer
description: >-
  Mobile app that serves as both a VoIP client
  and a management tool for accounts on the VoIPGRID platform.

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: 2.0.4

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # TODO: Use pub dependency.
  flutter_phone_lib:
    path: voip_flutter_integration

  flutter_bloc: ^7.0.0
  pedantic: ^1.9.0
  provider: ^5.0.0
  equatable: ^2.0.0
  chopper: ^4.0.0-nullsafety.0
  shared_preferences: ^2.0.5
  flutter_svg: ^0.22.0
  android_intent: ^2.0.0
  permission_handler: ^7.1.0
  url_launcher: ^6.0.3
  contacts_service: ^0.6.1
  characters: ^1.0.0
  diacritic: ^0.1.1
  scrollable_positioned_list: ^0.2.0-nullsafety.0
  i18n: ^3.1.0
  intl: ^0.17.0
  flutter_dotenv: ^4.0.0-nullsafety.0
  sentry_flutter: ^5.0.0
  flutter_segment: ^3.1.0
  device_info: ^2.0.0
  package_info: ^2.0.0
  moor: ^4.2.1
  sqlite3_flutter_libs: ^0.4.1
  path_provider: ^2.0.1
  path: ^1.6.4
  timezone: ^0.7.0
  logging: ^1.0.0
  libphonenumber: ^2.0.0
  get_it: ^7.0.0
  dartx: ^0.7.1
  connectivity_plus: ^1.0.2
  webview_flutter: ^2.0.4
  json_annotation: ^4.0.1
  flutter_rating_bar: ^4.0.0
  flutter_libphonenumber: ^1.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  effective_dart: ^1.2.0
  build_runner: ^1.12.2
  chopper_generator: ^4.0.0-nullsafety.1
  moor_generator: ^4.2.1
  json_serializable: ^4.1.0
  flutter_launcher_icons: ^0.9.0


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - .env
    - assets/background_cloud.svg
    - assets/survey/help.png
    - assets/survey/yay.png

  fonts:
    - family: 'VialerSans'
      fonts:
        - asset: assets/vialer_sans.ttf


  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
